page-forgotpass{
     font-family: 'Playfair Display', serif;

     .login-div-box {
		  background-image: url("../assets/img/login_bg.png");
		  background-size: 100% auto;
		}
.logo-sec {
  padding: 75px 0 30px;
  text-align: center;
  width: 100%;
}

.logo-sec > img {
  margin: auto;
  width: 130px;
}
.login-form-box {
  margin: auto;
  width: 80%;
}
.login-form-box button {
  background-color: #eb429f;
  border-radius: 100px;
  color: #fff;
  font-size: 17px;
  padding: 12px 10px;
  width: 100%;
}

.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner {
  border-bottom-color: #eb429f;
  box-shadow: none;
}
.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child {
  border-bottom-color: #eb429f;
  box-shadow: none;
}
.item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner {
  border-bottom-color: #eb429f;
  box-shadow: none;
}
.list-ios .item-input.item-input-has-focus:last-child, .list-ios .item-input.input-has-focus:last-child {
  border-bottom-color: #eb429f;
  box-shadow: none;
}
.list-ios > .item-block:first-child {
  border-top: medium none;
}
.back-button-text {
  align-items: center;
  display: none!important;
}

.login-form-box h4 {
  color: gray;
  font-size: 15px;
  margin-top: 5px;
  text-align: center;
}
}
